<!DOCTYPE html>
<html lang="en">



<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <script> </script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title>Members App</title>
</head>




<body>
    <div>
       
  Name: <input id="na" type="text"  name="fname"><br>
  Email: <input id="ema" type="text" name="lname"><br>
  <input id="btn"  type="submit" value="Add member">
</form>
    </div>

    <script> 
        let count= 5;
        let data= {
            id:Number,
            name: String,
            email: String,
            status: "active"
        };

        
    </script>
 <div class="container mt-4">
   {{{body}}}
 </div>
</body>

</html>
